{% extends 'base.html' %}

{% block content %}

<div id="loading-cover" class="position-absolute top-0 start-0 w-100 h-100 bg-dark bg-opacity-50 z-2 d-flex flex-column align-items-center justify-content-center visually-hidden">
    <div class="d-flex justify-content-center z-3">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center flex-column">
    <h1 class="text-light fs-1">Good Night Sleep Tight</h1>
    <div class="my-5 d-flex flex-column">
        <button class="btn btn-pink btn-lg my-3" id="play-latest-story">Play Latest Story</button>
        <button class="btn btn-pink btn-lg my-3" id="generate-new-story">Generate New Story</button>
    </div>
    <div class="col">
        {% for story in stories %}
            <div class="alert alert-light mt-3 row" role="alert">
                {{ story }}
                <audio id="player-{{ loop.index }}" class="player" controls>
                    <source src="{{ url_for('static', filename='outputs/' + story) }}" type="audio/wav" />
                </audio>
            </div>
        {% endfor %}
    </div>
</div>

<script defer>
    document.getElementById("play-latest-story").addEventListener("click", (e) => {
        document.getElementById("player-1").play();
    })
    document.getElementById("generate-new-story").addEventListener("click", (e) => {
        document.getElementById("loading-cover").classList.remove("visually-hidden");
        fetch("/generate_new_story")
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    alert("Failed to generate new story.");
                }
            })
            .catch(error => console.error('Error:', error));
    })
    document.querySelectorAll('.player').forEach(player => {
        new Plyr(`#${player.id}`);
        console.log(`Player initialized for ${player.id}`);
    });
</script>
{% endblock %}
